<!DOCTYPE html>
<html lang="en">

<head>
  <title>HomePage</title>

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Serif+JP" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<header>
  <nav>
    <div class="logo-container">
      <a href="/">
        <img src="./images/TaskMasterLogo.png" alt="Logo" />
      </a>
    </div>

    <div class="button-container">
      <button href="/login" class="button">Login</button>
      <button id="logoutButton">Logout</button>
    </div>
  </nav>
</header>

</div>

<div id="add-item">
  <form action="/api/items/" method="post" id="item-form">
    <div class="form-content">
      <input type="text" name="item" />
    </div>
  </form>
</div>
<div id="add-result">
  <div class="container" style="display: none;">
    <form id="userInteraction">
      <ul class="flex-outer">
        <p id="loading-ai">Loading from AI</p>
      </ul>
    </form>
  </div>



</div>
</div>

  <body>
    <main>
      <div id="modal" class="modal">
        <div class="modal-content">
          <h1>Login</h1>
          <div id="message"></div>

          <form id="loginForm" method="POST">
            <label for="email">Email:</label>
            <input type="email" id="loginEmail" name="email" />
            <!-- Add name attribute -->
            <label for="password">Password:</label>
            <input type="password" id="loginPassword" name="password" />
            <!-- Add name attribute -->
            <button type="submit">Login</button>
          </form>
          <button id="closeButton">Close</button>

        <div id="registration-form-container">
          <h1>Register</h1>
          <form id="registrationForm" method="POST" action="/register">
            <div>
              <label for="name">Name:</label>
              <input type="text" id="name" name="name" required />
            </div>
            <div>
              <label for="email">Email:</label>
              <input type="email" id="email" name="email" required />
            </div>
            <div>
              <label for="password">Password:</label>
              <input type="password" id="password" name="password" required />
            </div>
            <button type="submit">Register</button>
          </form>
          <div id="welcomeMessage"></div>
        </div>
      </div>
    </div>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Description</th>
          <th>Created_at</th>
          <th>Updated_at</th>
          <th>Category</th>
          <th>User</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
    

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/register.js"></script>
    <script src="/scripts/login.js"></script>
</body>

</html>
