<!DOCTYPE html>
<html lang="en">

<head>
  <title>HomePage</title>

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Serif+JP" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<header>
  <nav>
    <div class="logo-container">
      <a href="/">
        <img src="./images/TaskMasterLogo.png" alt="Logo" />
      </a>
    </div>
    <div class="button-container">
      <button href="/login" class="button">Login</button>
    </div>
    <div class="category-container">
      <ul>
        <li><a href="/category1">Watch</a></li>
        <li><a href="/category2">Eat</a></li>
        <li><a href="/category3">Read</a></li>
        <li><a href="/category3">Buy</a></li>
      </ul>
    </div>
  </nav>
</header>

<body>
  <main>
    <div id="modal" class="modal">
      <div class="modal-content">
        <h2>Login or Register</h2>
        <form id="loginForm" method="POST" action="/login">
          <label for="email">Email:</label>
          <input type="email" id="loginEmail" name="email" /> <!-- Check the name attribute -->
          <label for="password">Password:</label>
          <input type="password" id="loginPassword" name="password" />
          <button type="submit">Login</button>
        </form>
        <button id="closeButton">Close</button>
      </div>
    </div>

    <div id="add-item">
      <form action="/api/items/" method="post" id="item-form">
        <div class="form-content">
          <input type="text" name="item"></textarea>
          <div class="button-container">
            <!-- <button type="submit">Submit</button> -->
          </div>
        </div>
      </form>
    </div>

    <div id="registration-form-container">
      <h1>Registration</h1>
      <form id="registrationForm" method="POST" action="/register">
        <div>
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required>
        </div>
        <div>
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Register</button>
      </form>
    </div>
  </main>

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="/scripts/app.js"></script>
  <script src="/scripts/register.js"></script>
  <script src="/scripts/login.js"></script>

</body>

</html>