 body {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   min-height: 100vh;
//rgb(214, 241, 236)
   background: rgb(207, 206, 195);
}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo-container img{
  height: auto;
  width: 230px;
  padding-top: 0.5em;
  padding-left: 0.3em;
}

.logo {
  align-self: flex-start;
}
