 body {
   background: rgb(204, 233, 229);
}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo-container img{
  height: auto;
  width: 230px;
  padding-top: 0.5em;
  padding-left: 0.3em;
}

.logo {
  align-self: flex-start;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 10px;
  right: 10px;
  padding-top: 1em;
  padding-right: 0.3em;
}

.button-container button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 10px;
  font-family: "Noto Serif JP", serif;
  font-weight: 700;
}

.button-container button:hover {
  background-color: #000;
  color: #fff
}

.category-container {
  margin-left: 12em; /* Pushes the category container to the right */
  margin-right: auto; /* Pushes the category container to the left */
  text-align: center;
}

.category-container ul {
  list-style: none; /* Remove bullet points */
  margin: 0;
  padding: 0;
  display: inline-flex; /* Display the categories in a flex container */
}


.category-container ul li a {
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: "Noto Serif JP", serif;
  font-weight: 800;

}

.category-container ul li a:hover {
  background-color: #000;
  color: #fff;
}

.category-container ul li {
  margin-right: 12em; /* Increase the margin-right value for more spacing */
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal-content {
  background-color: #fff;
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Add shadow */
  border: 2px solid #000; /* Add border */
}


#closeButton {
  margin-top: 10px;
}

.modal-content form label {
  font-family: "Noto Serif JP", serif;
  font-weight: 800;
}

.modal-content form button {
  font-family: "Noto Serif JP", serif;
  font-weight: 700;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 0.5em;
}

.modal-content form button:hover {
  background-color: #000;
  color: #fff;
}

.modal-content form input {
  font-family: "Noto Serif JP", serif;
  font-weight: 800;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#closeButton {
  font-family: "Noto Serif JP", serif;
  font-weight: 700;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  border-radius: 5px;
}

#closeButton:hover{
  background-color: #000;
  color: #fff;
}

.modal-content h2 {
  font-family: "Noto Serif JP", serif;
  font-weight: 800;

}

/* Submit item textbox area */
#add-item{
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

#item-form{
  display: flex;
  width: 80%;
  margin: 20px auto;
}

.form-content {
  display: flex;
  width: 80%;
  margin: 20px auto;

}
.form-content input[type=text]{
  padding: 10px;
  font-size: 16px;
  border-width: 1px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: ridge;
  border-radius: 30px;
  box-shadow: 0px 0px 15px rgba(66,66,66,.45);
  display: flex;
  margin: 20px auto;
  width: 80%;
}

.form-content input[type=text]:focus{
  outline:none;
}
